* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #8342c0;
}

.search-bar input {
    padding: 8px 15px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid #8e3290;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(158, 51, 172);
}

.login-btn {
    background: #8b54be;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

/* MENU BAR */
.menu-bar {
    background: #fafafa;
    padding: 10px 5%;
}

.menu-bar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.hero {
    background:image-set("https://i.pinimg.com/1200x/19/ce/58/19ce58c4d49883197ed1b2dac5108079.jpg");
    color: rgb(199, 191, 201);
    text-align: center;
    padding: 80px 20px;
}

.primary-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ecddef;
    color: #6a0dad;
    border: none;
    border-radius: 5px;
}

.courses {
    padding: 50px 5%;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.rating {
    color: orange;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}

.topics {
    background: white;
    padding: 50px 5%;
}

.topics input {
    margin: 20px 0;
    padding: 10px;
    width: 300px;
}

.topic-list span {
    display: inline-block;
    background: #e8e8e8;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 5px;
}

.pricing {
    padding: 50px 5%;
}

.pricing-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.premium {
    background: linear-gradient(to bottom, #8a2be2, #6a0dad);
    color: white;
}

.pricing-card button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #8a2be2;
    color: white;
    border-radius: 5px;
}

footer {
    background: #1c1d1f;
    color: white;
    padding: 40px 5%;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h4 {
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media(max-width:768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .search-bar input {
        width: 100%;
    }

    .footer-grid {
        flex-direction: column;
        gap: 20px;
    }
}

.contact-section {
    background:-webkit-image-set("https://i.pinimg.com/1200x/75/b9/38/75b938fe0d9ebab3b5a39889e1efde57.jpg");
    padding: 80px 5%;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background: #a373d2;
    color: rgb(246, 242, 247);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
